# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Extra files as needed
/.vscode/
*.docx
*.doc
*.tmp

# Netbeans IDE Specific files
**/nbproject/
*.inc

# Eclipse Meta files
*/.metadata/
*/.recommenders

# Adding .makefile because it's created when making a new project 
# and not required for proper operation of the applications
**/Makefile